* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

li {
  list-style: none;
}

a {
  color: #d67322;
  text-decoration: none;
}

a:hover {
  color: #ff7300;
  text-decoration: underline;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23009DFF'/%3E%3Cstop offset='1' stop-color='%239BFFA5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='12' cy='12' r='12'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.1'/%3E%3C/svg%3E");
  background-attachment: fixed;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

.cv-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: 20px auto;
  box-shadow: 5px -3px 25px rgba(0, 0, 0, 0.5);
}

.header {
  position: sticky;
  top: 20px;
  background-color: #020202;
  border-top: 3px solid #d67322;
  border-bottom: 3px solid #d67322;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.toggle {
	left: 0;
	box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);
}

.toggle-menu {
  display: none;
}

.line {
	width: 100%;
	height: 3px;
	border-radius: 5px;
	background-color: #FFFFFF;
	transition: transform 0.2s ease-out;
	-webkit-transition: transform 0.2s ease-out;
	-moz-transition: transform 0.2s ease-out;
	-ms-transition: transform 0.2s ease-out;
	-o-transition: transform 0.2s ease-out;
}

.toggle .line1 {
	background-color: #000000;
	transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
}

.toggle .line2 {
	display: none;
}

.toggle .line3 {
	background-color: #000000;
	transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
}

.toggle .toggle-menu {
	background-color: white;
}

.nav-list {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  font-size: 15px;
}

.nav-item {
  text-align: center;
  padding: 0 10px 0 10px;
  border-right: 2px solid #FFFFFF;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  justify-content: space-between;
  background-color: #ffffff;
  /* border-radius: 10px 10px 0 0; */
}

.section {
  padding: 0 50px 0 50px;
  font-size: 16px;
  margin-top: 30px;
  scroll-margin-top: 6em;
}

.left-col {
  padding: 0 0 30px 0;
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #020202;
  color: #979797;
}

.photo {
  width:100%;
}

.left-col .heading-section {
  color: #fafafa;

}

.heading-section-name {
  display: none;
}

.heading-section {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 15px;
}

.contacts-list {
  line-height: 2;
}

.contacts-list-link > b {
  color: #ffffff;
}

.description p {
  margin-bottom: 15px;
}

mark {
  background-color: #ffffff;
}

.summary-list > li:before {
  color: #797979;
  content: "☑";
  padding-right: 10px;
 }

.right-col {
  position: relative;
  flex-basis: 60%;
  padding: 20px 25px 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #020202;
}

.section-right {
  margin-top: 30px;
  scroll-margin-top: 6em;
}

.cv-resume {
  position: absolute;
  background-color: #ff7300;
  color:#ffffff;
  padding: 10px 20px;
  font-size: 22px;
  top: 0;
  right: 0;
}

.presentation > p {
  color: #797979;
  font-size: 22px;
}

.name {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 54px;
  margin-bottom: 5px;
}

.prof {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 28px;
  margin-bottom: 12px;
}

.hr {
  border: 2px solid #ff7300;
}

.experience-list li {
  margin-bottom: 30px;
  position: relative;
}

.experience-list li:hover .projects {
  transform: rotate(0.01turn);
  opacity: 0.8;
}

.heading-prj {
  padding: 0 5px 0 10px;
  width: 215px;
  height: auto;
  color: #ff7300;
  background-color: #ffffff;
  margin-bottom: 20px;
  position: absolute;
  top: 30px;
  right: 30px;
  border: 1px solid #c0bdbd;
  border-radius: 5px;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
  transform: rotate(-0.007turn);
}

.heading-prj p {
  color: #363636;
  font-size: 12px;
}

.projects {
  max-width: 500px;
  width:100%;
  border: 1px solid #797979;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.skills-short-list {
  display: flex;
  flex-wrap: wrap;
}

.skills-short-list > li {
  padding: 2px 5px ;
  margin: 0 7px 5px 0;
  color: #ffffff;
  font-weight: bold;
  background-color: #ff7300;
}

details {
  border: 2px dashed #ff7300;
  padding: 10px;
  margin-top: 15px;
}

.skills-list {
  margin-top: 10px;
}

.skills-list > li {
  line-height: 1.8;
}

.skills-list > li:before {
  color: #797979;
  content: "☑";
  padding-right: 10px;
 }

.code-box {
  font-size: 14px;
  margin: 0 20px 0 0;
  padding: 20px 10px;
  background-color: #fff7e6;
  border: 1px solid rgb(187, 184, 184);
  border-radius: 10px;
}

.education-list > li,
.lang-list > li {
  line-height: 1.8;
}

.education-list > li:before,
.lang-list > li:before {
  color: #797979;
  content: "☑";
  padding-right: 10px;
}

.self-intro {
  width: calc(100% / 10 * 9);
}

.video {
  width: 100%;
  border: 0px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  overflow: hidden;
}

.footer {
  color: #fafafa;
  font-size: 18px;
  padding: 10px;
  background-color: #020202;
  border-top: 3px solid #fafafa;
}

.footer-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.github {
  display: block;
  width: 120px;
  height: 45px;
  padding-left: 45px;
  background-image: url('../img/github.svg');
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: left center;
  line-height: 45px;
  color: #fafafa;
}

.rsschool:hover > img {
  background-color: #924302;
}

.rsschool img {
  width: 100px;
  padding: 5px;
}

@media (max-width: 860px) {

  .cv-wrapper {
    margin: 0 auto;
  }

  .header {
    top: 0;
    border: none;
  }

  .toggle-menu {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 35px;
    right: 50px;
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2px 2px 2px 3px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  .navbar {
    position: absolute;
    background-color: #d67322;
    top: 0;
    right: 100%;
    height: 100vh;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: position 2.9s;
    -webkit-transition: position 2.9s;
    -moz-transition: position 2.9s;
    -ms-transition: position 2.9s;
    -o-transition: position 2.9s;
  }

  .nav-list {
    flex-direction: column;
  }

  .nav-item {
    text-align: center;
    padding: 10px 0;
    border: none;
  }

  .nav-link {
    color: #fff;
    font-size: 22px;
    text-decoration: none;
    position: relative;
    padding-bottom: 4px;
  }

  .main {
    flex-direction: column;
    padding: 0 20px;
    justify-content: center;
  }

  .right-col {
    padding: 20px 25px 30px 25px;
  }

  .section {
    padding: 0 30px 0 30px;
    font-size: 16px;
    margin-top: 30px;
    scroll-margin-top: 2em;
  }

  .heading-section-name {
    display: initial;
    color: #fafafa;
    text-decoration: underline;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 26px;
    margin-bottom: 15px;
  }

}

@media (max-width: 600px) {

  .main {
    padding: 0;
    column-gap: 0;
  }

  .right-col {
    padding: 20px 10px 30px 10px;
  }

  .section {
    padding: 0px 15px 0 15px;
  }
}
