* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

.cv-wrapper {
  width: 1440px;
  margin: 40px auto;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-col {
  flex-basis: 35%;
  background-color: black;
  color: white
}

.right-col {
  flex-basis: 60%;
}

.photo {
  width:100%;
}
